.image {
    max-height: 400px;
    margin: 1rem;
}

.image img {
    max-height: 400px;
    max-width: 600px;
}

.image-container {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    width: 80vw;
    height: 450px;
    border: 1px solid white;
    align-items: center;
}